div { 
    border: 1px solid blue;
    text-align: center;
    font-size: 1.5em;
}

#calculator {
    display: grid;
    grid-gap:3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 50px);
    padding: 40px;
}

.display {
    grid-column: 1 / -1;
    grid-row: 1 / span 3;
}

.memory{
    grid-column: auto / span 2;
}

.button {
    grid-column: auto /span 3;
    
}